In [341]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [342]:
cleaned = pd.read_excel('grid_cleaned_1.xlsx')
cleaned

,Date Event Began,NERC Region,Event Type,Demand Loss (MW),Customers Affected,State Names
0,2010-01-06,SERC,Public Appeals,NaN,0,Louisiana
1,2010-01-11,FRCC/SERC,Voltage Reduction,NaN,0,Florida
2,2010-01-18,WECC,Severe Weather,290,1700000,California
3,2010-01-19,WECC,Severe Weather,300,30000,Unknown
4,2010-01-19,WECC,Severe Weather,2650,50000,Unknown
...,...,...,...,...,...,...
3268,2023-06-29,RF,Severe Weather,Unknown,140000,Indiana
3269,2023-06-28,SERC,Physical Attack,0,0,Georgia
3270,2023-06-22,SERC,Equipment Failure,17,6242,Louisiana
3271,2023-06-20,SERC,Equipment Failure,0,0,Louisiana
3272,2023-06-30,NPCC,Other,0,0,Connecticut

In [343]:
cleaned['NERC Region'] = cleaned['NERC Region'].str.replace(r'\s', '', regex=True)

In [344]:
cleaned.drop(cleaned[cleaned['NERC Region'] == 'PR'].index, inplace=True)

In [345]:
cleaned['NERC Region'].replace("SPPRE", "SPP", inplace=True)

In [346]:
cleaned['NERC Region'].replace("NP", "NPCC", inplace=True)

In [347]:
cleaned['NERC Region'].replace("NP", "NPCC", inplace=True)

In [348]:
cleaned['NERC Region'].replace("TE", "TRE", inplace=True)

RFC - ReliabilityFirst Corporation

NPCC - Northeast Power Coordinating Council

SERC - SERC Reliability Corporation

FRCC - Florida Reliability Coordinating Council

MRO - Midwest Reliability Organization

SPP - Southwest Power Pool

WECC - Western Electricity Coordinating Council

TRE - Texas Reliability Entity

In [349]:
# Split the column based on the delimiter and keep only the part before the delimiter
cleaned['NERC Region'] = cleaned['NERC Region'].str.split('/').str[0]

In [350]:
cleaned['NERC Region'] = cleaned['NERC Region'].str.split(',').str[0]

In [351]:
cleaned['NERC Region'] = cleaned['NERC Region'].str.split(';').str[0]

In [352]:
cleaned['NERC Region'].replace("RF", "RFC", inplace=True)

In [353]:
cleaned['NERC Region'].replace("RE", "RFC", inplace=True)

In [354]:
cleaned['NERC Region'].replace("ERCOT", "TRE", inplace=True)

In [355]:
# cleaned['NERC Region'].value_counts().head(40)
cleaned['NERC Region'].value_counts()

WECC    974
RFC     636
SERC    618
TRE     343
NPCC    326
MRO     201
SPP     105
FRCC     42
Name: NERC Region, dtype: int64

In [356]:
cleaned['Demand Loss (MW)'] = pd.to_numeric(cleaned['Demand Loss (MW)'], errors='coerce')

In [357]:
cleaned['Customers Affected'] = pd.to_numeric(cleaned['Customers Affected'], errors='coerce')

In [358]:
cleaned.head()

,Date Event Began,NERC Region,Event Type,Demand Loss (MW),Customers Affected,State Names
0,2010-01-06,SERC,Public Appeals,NaN,0.0,Louisiana
1,2010-01-11,FRCC,Voltage Reduction,NaN,0.0,Florida
2,2010-01-18,WECC,Severe Weather,290.0,1700000.0,California
3,2010-01-19,WECC,Severe Weather,300.0,30000.0,Unknown
4,2010-01-19,WECC,Severe Weather,2650.0,50000.0,Unknown

In [359]:
cleaned.to_excel('grid_cleaned_3.xlsx')